
  .navegador {
    background-color: var(--fondoNav) !important;
    position: sticky;
    top: 0;
    padding: 0.2rem;
    z-index: 999;
  }
  .logo{
    height: 80px;
    border-radius: 25% ;
    
} 

.navbar{
    --navbar-color: rgba(var( --letraNegra), 0.45); 
    --navbar-hover-color: rgba(var(--letraNegra), 0.8);
    --navbar-disabled-color: rgba(var(--letraNegra), 0.3);
    --navbar-active-color: rgba(var(--letraNegra), 1);
}

.nav-item{
    list-style: none;
}
.buscar{
    color:var(--negro);
    border:1.5px var(--negro) solid;
    --hover-color: #fff;
    ---hover-bg: var(--rojo);
    ---hover-border-color: var(--rojo);
    --focus-shadow-rgb: 25,135,84;
 
    --bs-gradient: none;
}

.sesion{
    width: auto !important;
    border: solid black 2px;
    margin: 1px;
}

.color1{
    background-color: aqua;
}
.color2{
    background-color: rgb(38, 255, 0);
}
.color3{
    background-color: rgb(217, 0, 255);
}