
  .navegador {
    background-color: var(--fondoNav) !important;
    position: sticky;
    top: 0;
    padding: 0.2rem;
    z-index: 999;
  }
  .logo{
    height: 80px;
    border-radius: 25% ;
    
} 

.navbar{
    --navbar-color: rgba(var( --letraNegra), 0.45); 
    --navbar-hover-color: rgba(var(--letraNegra), 0.8);
    --navbar-disabled-color: rgba(var(--letraNegra), 0.3);
    --navbar-active-color: rgba(var(--letraNegra), 1);
}

.nav-item{
    list-style: none;
}
.botonNav{
    color:var(--letraNegra) !important;
    margin: 1%;
}

.botonNav:hover{
    background-color: var(--rojoBrillante);
}

