
  .navegador {
    background-color: var(--fondoNav) !important;
    position: sticky;
    top: 0;
    padding: 0.2rem;
    z-index: 999;
  }
  .logo{
    height: 100px;
    border-radius: 8% ;
} 
.buscar{
    color:var(--negro);
    border:1.5px var(--negro) solid;
    --hover-color: #fff;
    ---hover-bg: var(--rojo);
    ---hover-border-color: var(--rojo);
    --focus-shadow-rgb: 25,135,84;
 
    --bs-gradient: none;
}
